$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


body {
	font-family: "Roboto";
	padding-top: 50px;
}


.custom-select {
	min-width: 140px;
}




/* labels personalizados */
form.go-right .form-group {
	position: relative;
}
form.go-right .lbl-focus {
	transition: background .2s, width .2s;
	position: absolute;
	font-weight: normal;
	height: 100%;
	top: 0;
	left: 0;
	right: 100%;
	width: 100%;
	margin-right: -100%;
	text-transform: uppercase;
	border-radius: 5px;  
	color: white;
	font-size: 70%;
	padding: 5px;
}
form.go-right input, form.go-right textarea {
	position: relative;
	z-index: 1;
}
form.go-right input:focus + label, form.go-right textarea:focus + label {
	background: #357EBD;
	z-index: 2;
	right: 0;
	margin-right: 0;
	width: 40%;
	left: inherit;
}



img {
vertical-align: middle;
}

.img-responsive {
display: block;
height: auto;
max-width: 100%;
}

.img-rounded {
border-radius: 3px;
}

.img-thumbnail {
background-color: #fff;
border: 1px solid #ededf0;
border-radius: 3px;
display: inline-block;
height: auto;
line-height: 1.428571429;
max-width: 100%;
moz-transition: all .2s ease-in-out;
o-transition: all .2s ease-in-out;
padding: 2px;
transition: all .2s ease-in-out;
webkit-transition: all .2s ease-in-out;
}

.img-circle {
border-radius: 50%;
}

.logotipo {
padding: 0 !important;
	a {
		color: #f2f2f2;
	}
}                    

.brand {
	color: #fff;
line-height: 50px;
	.icon-odete {
font-size: 2em;
    vertical-align: middle;
    margin-right: 10px;
}
}


.fb_iframe_widget {display: block !important;}
.fb_iframe_widget span {display: block !important; width: 100% !important}
.fb_iframe_widget iframe {display: block !important; width: 100% !important; position: relative !important;}