<div class="col-md-12 multiple-form-group" data-max="3">
    <div class="form-group input-group input-group-lg">
        <div class="input-group-btn input-group-select">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="concept">Operadora</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li scope="col" ng-repeat="operadora in operadoras"><a href="#{{operadora.id}}">{{operadora.txtOperadora}}</a></li>
            </ul>
            <input type="hidden" class="input-group-select-val operadora" ng-model="operadora" value="Operadora">
        </div>
        <input type="tel" ng-model="telefone" class="form-control numero" placeholder="(xx) xxxxx-xxxx" maxlength="15" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-success btn-add" ng-click="fnphone()">+</button>
        </span>
    </div>
</div>