<div class="col-md-12 multiple-form-group" data-max="3">
    <strong>Telefones:</strong>
    <div class="form-group input-group input-group-lg">
        <div class="input-group-btn input-group-select">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="concept">Operadora</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#Tim">Tim</a></li>
                <li><a href="#Vivo">Vivo</a></li>
                <li><a href="#Nextel">Nextel</a></li>
                <li><a href="#Oi">Oi</a></li>
                <li><a href="#Claro">Claro</a></li>
            </ul>
            <input type="hidden" class="input-group-select-val operadora" name="telefones[0].operadora" value="Operadora">
        </div>
        <input type="tel" name="telefones[0].numero" class="form-control numero"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-success btn-add">+</button>
        </span>
    </div>
</div