<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Cadastre-se
                </h1>
                <p>Contrate profissionais de limpeza de forma simples, rápida e confiável.</p>
                <p>
                    <a class="btn btn-info btn-sm" role="button" href="/cadastro/odete" data-toggle="tooltip" data-placement="top" title="Exclusivo para profissionais que realizam serviço de limpeza">Sou odete »</a>
                    <a class="btn btn-success btn-sm" role="button" href="/cadastro/bagunceiro" data-toggle="tooltip" data-placement="top" title="Exclusivo para pessoas que procura profissinais de limpeza">Sou bagunceiro(a) »</a>
            </div>
        </div>
    </div>
</div>
<div ui-view></div>