<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contato
                </h1>
                <p>Sinta-se livre para entrar em contato. Retornamos o mais rápido possível.</p>
            </div>
        </div>
    </div>
</div>


<div class="container">

    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="success == 'false'">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Ops!</strong> Sua mensagem nao foi enviada.
    </div>

    <div class="alert alert-success alert-dismissible" role="alert" ng-show="sucess == 'true'">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Obrigado!</strong> Sua mensagem enviada com sucesso.
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form action="" method="post" accept-charset="utf-8" class="form" role="form" name="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Nome</label>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="nome" class="form-control" id="nome" placeholder="Nome" ng-model="user.name" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="E-mail" ng-model="user.email" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="subject">Assunto</label>
                            <select id="subject" name="subject" class="form-control input-lg" ng-model="user.subject" required="required">
                                <option value="na" selected=""></option>
                                <option value="service">Serviços</option>
                                <option value="suggestions">Sugestões</option>
                                <option value="product">Suporte</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Mensagem</label>
                            <textarea name="message" id="message" class="form-control" ng-model="user.message" rows="10" cols="25" required="required"
                                placeholder="Mensagem"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button ng-click="sendContact()" type="submit" class="btn btn-primary pull-right" id="btnContactUs" ng-disabled="form.$invalid">
                            Enviar Mensagem</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4" hidden>
            <legend><span class="glyphicon glyphicon-globe"></span> Nosso escritório</legend>
            <address>
                <strong>Hagility</strong><br>
                Av. Rio Branco, Centro N:1<br>
                Rio de Janeiro, RJ 94107<br>
                <abbr title="Phone">
                    P:</abbr>
                +55 (21) 98350-0852
            </address>
            <address>
                <strong>Fale conosco</strong><br>
                <a href="mailto:#">me@hagility.com.br</a>
            </address>
        </div>
    </div>
</div>
