<div class="container text-center">
    <form class="form-signin">
        <small class="text-muted">Acesse com sua rede social favorita</small>
        <p>
            <a class="btn btn-primary social-login-btn social-facebook" href="#" id="btn-login-facebook"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-primary social-login-btn social-google" href="#" id="btn-login-google"><i class="fa fa-google-plus"></i></a>
        </p>

        <small class="text-muted btn-block">ou acesse com sua conta normal</small>
        <br/>
        
        <input class="form-control login-input" placeholder="Email" type="email">
        <input class="form-control login-input-pass" placeholder="Senha" type="password">

        <button class="btn btn-lg btn-primary btn-block btn-center" type="submit">Conectar</button>
        <br>
        <small class="create-account text-muted btn-block">Não tenho uma conta! </small>
        <a href="/cadastro" class="ember-view btn btn-default">Quero me cadastrar </a>
    </form>
</div>