<div class="jumbotron">
  <div class="container text-center">
      <h1><i class="icon-odete main"></i>odete</h1>
      <p class="lead">
        solução dos bagunceiros!
      </p>
  </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group text-center">
                <h3 for="cep">Quer trabalhar?</h3>
                <small class="btn-block">preencha seus dados no formulário</small>
                    <a class="btn btn-info btn-lg" role="button" href="/cadastro/odete" data-toggle="tooltip" data-placement="top" title="Exclusivo para profissionais que realizam serviço de limpeza">Quero trabalhar »</a>
                </div>
            </div>

          <div class="col-md-6 border-left">
            <div class="form-group text-center">
                <h3 for="cep">Quer contratar?</h3>
                <small>digite o cep de sua região...</small>
                <div class="input-group input-group-lg col-md-6 col-md-offset-3">
                    <input class="form-control input-lg" id="cep" ng-blur="findMarker(user.cep)" type="text" maxlength="9" ng-model="user.cep" placeholder="Ex: 18800-000" ui-br-cep-mask/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" title="Pesquisar na minha região" ng-click="findMarker(user.cep);"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </div><!-- /.col-lg-6 -->
          </div>


        </div>
    
        <!-- cep -->
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="app-address">{{endereco}}</span>
            </div>
        </div>
    </div>       

</div>


<!-- container -->
<div class="container">

    <!-- resultado -->
    <div class="row searchable-container">
    
        <!-- item -->
        <div class="col-xs-12 col-sm-4 col-md-4 items" data-ng-repeat="item in data">
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="rating hidden-sm pull-right" hidden>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>

                <h3 class="panel-title">
                            <span class="pull-right" ng-show="item.distance">{{item.distance}} Km de distância</span>

                    <strong>{{item.nome}}</strong>
                    <small>{{item.sobrenome}}</small>
                                <div hidden>
                                    <small>
                                        <i class="glyphicon glyphicon-eye-open  btn-xs" title="pessos acessaram"></i> (5)
                                    </small>
                                    <small>
                                        <i class="glyphicon glyphicon-thumbs-up btn-xs" title="pessoas avaliaram"></i> (50)
                                    </small>
                                </div>

                </h3>
              </div>
              <div class="panel-body">
                    <div class="col-sm-6 col-md-3 col-xs-3 text-center">
                        <a href="" data-toggle="modal" data-target="#modalProfile">
                            <img ng-src="http://graph.facebook.com/{{item.idfacebook}}/picture" title="visualizar perfil" alt="visualizar perfil" class="img-circle img-responsive" />
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-9 col-xs-9">
                        <div>
                            <ul class="nav nav-pills">
                                <li ng-repeat="servico in item.servico track by $index">
                                    <span class="label label-info">{{servico}}</span>
                                </li>
                            </ul>
                            <h4>
                                {{item.valor | currency:"R$"}}
                                <small>
                                    {{item.bairro}} - {{item.uf}}
                                </small>
                            </h4>

                            <ul class="nav nav-pills nav-stacked">
                                <li ng-repeat="telefone in item.telefone track by $index">{{item.operadora[$index]}} - {{telefone | tel}}</li>
                            </ul>

                            <div class="btn-group hidden">
                                <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">Contratar</button>
                                <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span><span class="sr-only">Social</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Contratar</a></li>
                                    <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Avaliar</a></li>
                                    <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Github</a></li>
                                </ul>
                            </div>




                        </div>
                    </div>
              </div>
            </div>






            <!--<div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-xs-4 text-center">
                        <img src="https://placeimg.com/200/200/people/{{item}}" alt="" class="img-circle img-responsive" />
                        <small>
                            Barra da Tijuca</br>Rio de Janeiro
                        </small>
                    </div>
                    <div class="col-sm-6 col-md-8 col-xs-8">
                        <div class="rating hidden-sm pull-right">
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <strong>{{item.nome}}</strong>
                        <small>28 anos</small>
                        <div>
                            <div class="skills">
                                <div class="btn-group btn-group-xs">
                                  <button type="button" class="btn btn-default">Lava</button>
                                  <button type="button" class="btn btn-info">Passa</button>
                                  <button type="button" class="btn btn-info">Cozinha</button>
                                  <button type="button" class="btn btn-default">Faxina</button>
                                </div>

                                <span class="label label-info">Lava</span>
                                <span class="label label-info">Passa</span>
                                <span class="label label-info">Cozinha</span>
                                <span class="label label-info">Faxina</span>
                            </div>
                            
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-xs">Social</button>
                                <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span><span class="sr-only">Social</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                    <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Github</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <!-- fim item -->
    </div>
    <!-- fim resultado -->

</div>
<!-- fim container -->