<div class="jumbotron text-center">
  <h1><i class="icon-odete main"></i></br>odete</h1>
  <p class="lead">
    solução dos bagunceiros!
  </p>
  <a class="btn btn-lg btn-success" href="/cadastro">Cadastrar</a>
</div>


<div class="container">
    <span class="help-block text-center">
        <small>{{result}} odete(s)</small>
        <span ng-show="filters.estado">
             em <span class="glyphicon glyphicon-map-marker"></span>
            
                <span ng-show="filters.estado">{{filters.estado}}</span>
                <span ng-show="filters.cidade">- {{filters.cidade}}</span>
                <span ng-show="filters.bairro">- {{filters.bairro}}</span>
            
        </span>
        <small ng-hide="filters.estado">
            no site todo.
        </small>
    </span> 
</div>



<!-- minhas preferencias -->
<div class="container collapse in" id="filter-panel">
     
    <div class="row">
        <div class="col-lg-12">
            <p class="text-center"></p>
        </div>
    </div>
    <div class="row hidden">
        <form class="form-filter">
            <legend hidden>Temos <strong>{{result}}</strong> odetes!</legend>
            <div class="col-lg-3 col-xs-6">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="filters.faxinar" ng-change="updateResults()"/>
                        </span>
                        <input type="text" class="form-control" placeholder="Faxinar">
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-xs-6">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="filters.passar" ng-change="updateResults()"/>
                        </span>
                        <input type="text" class="form-control" placeholder="Passar">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="filters.data" ng-change="updateResults()"/>
                        </span>
                        <input type="text" class="form-control" placeholder="Lavar">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="filters.cozinhar" ng-change="updateResults()"/>
                        </span>
                        <input type="text" class="form-control input-sm" placeholder="Cozinhar">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row" hidden>
      <div class="col-lg-6">
        <div class="form-group">
            <div class="input-group input-group-sm">
              <input type="date" class="form-control" ng-model="filters.data" ng-change="updateResults()">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>
      <div class="col-lg-6">
        <div class="form-group">
            <select class="form-control input-sm">
                <option>Meio Período</option>
            </select>
        </div>
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->


    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
            <div class="input-group input-group-sm">
                <select class="form-control input-sm" ng-model="filters.estado" ng-change="updateResults();filters.cidade='';filters.bairro='';getCidade();" ng-options="item.uf as item.uf for item in filters.estados">
                    <option value="">Estado</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="clearEstado();"><i class="glyphicon glyphicon-remove"></i></button>
                </span>
            </div>
        </div><!-- /.col-lg-6 -->
      </div>
      <div class="col-lg-4">
        <div class="form-group">
            <div class="input-group input-group-sm">
                <select class="form-control" placeholder="Cidade" ng-model="filters.cidade" ng-change="updateResults();getBairro();filters.bairro=''" ng-options="item.cidade as item.cidade for item in filters.cidades">
                    <option value="">Cidade</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="clearCidade();"><i class="glyphicon glyphicon-remove"></i></button>
                </span>
            </div>            
        </div>
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-4">
        <div class="form-group">
            <div class="input-group input-group-sm">
                <select class="form-control" placeholder="Bairro" ng-model="filters.bairro" ng-change="updateResults()" ng-options="item.bairro as item.bairro for item in filters.bairros">
                    <option value="">Bairro</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="clearBairro();"><i class="glyphicon glyphicon-remove"></i></button>
                </span>
            </div>            
        </div>
      </div><!-- /.col-lg-6 -->

      <div class="col-lg-12">
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit" ng-click="search()" ng-disabled="result == 0">Pesquisar</button>
        </div>
    </div>
    </div><!-- /.row -->

</div>
<!-- fim minhas preferencias -->


<!-- container -->
<div class="container">

    <div class="well" hidden>
        <div class="row">
            <form class="form-horizontal" role="form">
                <div class="col-md-7">
                    <input type="search" class="form-control input-sm" id="input-search" placeholder="Pesquisar..." data-ng-model="elementName"/>
                </div>
                <div class="col-md-3">
                    <select id="pref-orderby" class="form-control input-sm" ng-model="orderProp">
                        <option value="" selected>Ordenar por:</option>
                        <option value="price">Preço</option>
                        <option value="nome">Nome</option>
                    </select>                                
                </div>
                <div class="col-md-1">
                    <select id="pref-perpage" class="form-control input-sm" ng-model="quantity">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option selected="selected" value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="300">300</option>
                        <option value="400">400</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                    </select>                                
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary btn-sm btn-block">
                        <span class="glyphicon glyphicon-record"></span> Ok
                    </button>  
                </div>
            </form>
        </div>
    </div>



    <!-- resultado -->
        <div class="row searchable-container">
        
            <!-- item -->
            <div class="col-xs-12 col-sm-4 col-md-4 items" data-ng-repeat="item in data | filter:elementName | limitTo:quantity | orderBy:orderProp">
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="rating hidden-sm pull-right" hidden>
                        <i class="text-warning fa fa-star"></i>
                        <i class="text-warning fa fa-star"></i>
                        <i class="text-warning fa fa-star"></i>
                        <i class="text-warning fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                    <h3 class="panel-title">
                        <strong>{{item.nome}}</strong>
                        <small>{{item.sobrenome}}</small>
                                    <div hidden>
                                        <small>
                                            <i class="glyphicon glyphicon-eye-open  btn-xs" title="pessos acessaram"></i> (5)
                                        </small>
                                        <small>
                                            <i class="glyphicon glyphicon-thumbs-up btn-xs" title="pessoas avaliaram"></i> (50)
                                        </small>
                                    </div>

                    </h3>
                  </div>
                  <div class="panel-body">
                        <div class="col-sm-6 col-md-3 col-xs-3 text-center">
                            <a href="" data-toggle="modal" data-target="#modalProfile">
                                <img ng-src="http://graph.facebook.com/{{item.idfacebook}}/picture" title="visualizar perfil" alt="visualizar perfil" class="img-circle img-responsive" />
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-9 col-xs-9">
                            <div>
                                <p class="skills">
                                    {{item.servicos}}
                                </p>
    
                                <h4>
                                    {{item.valor | currency:"R$"}}
                                    <small>
                                        {{item.bairro}} - {{item.uf}}
                                    </small>
                                </h4>

                                <ul>
                                    <li ng-repeat="tel in item.telefone">{{tel}}</li>
                                </ul>

                                <div class="btn-group hidden">
                                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">Contratar</button>
                                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span><span class="sr-only">Social</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Contratar</a></li>
                                        <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Avaliar</a></li>
                                        <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Github</a></li>
                                    </ul>
                                </div>




                            </div>
                        </div>
                  </div>
                </div>






                <!--<div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-xs-4 text-center">
                            <img src="https://placeimg.com/200/200/people/{{item}}" alt="" class="img-circle img-responsive" />
                            <small>
                                Barra da Tijuca</br>Rio de Janeiro
                            </small>
                        </div>
                        <div class="col-sm-6 col-md-8 col-xs-8">
                            <div class="rating hidden-sm pull-right">
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <strong>{{item.nome}}</strong>
                            <small>28 anos</small>
                            <div>
                                <div class="skills">
                                    <div class="btn-group btn-group-xs">
                                      <button type="button" class="btn btn-default">Lava</button>
                                      <button type="button" class="btn btn-info">Passa</button>
                                      <button type="button" class="btn btn-info">Cozinha</button>
                                      <button type="button" class="btn btn-default">Faxina</button>
                                    </div>

                                    <span class="label label-info">Lava</span>
                                    <span class="label label-info">Passa</span>
                                    <span class="label label-info">Cozinha</span>
                                    <span class="label label-info">Faxina</span>
                                </div>
                                
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-xs">Social</button>
                                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span><span class="sr-only">Social</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                        <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Github</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <!-- fim item -->

        </div>
    <!-- fim resultado -->

</div>
<!-- fim container -->